/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults 
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #C0C0C0;
}

tr,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 0px;
}

ul,
ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    margin: auto;
}

a:link {
    color: #831A38;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #831A38;
}

a:hover {
    text-decoration: underline;
    color: #831A38;
}

a:active {
    text-decoration: none;
    color: #831A38;
}

.center {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px 12px 12px 12px;
    border: 5px solid #831A38;
    background-color: #FFF;
    border-spacing: 0;
}

#menu {
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

.navtop {
    background-color: #fff;
}

.navtop li {
    border-right: solid #831A38
}

.navtop li a {
    min-height: 16px;
    font-size: 13px;
    background-color: #fff;
    color: darkgreen;
    text-decoration: none;
    padding: 0px 4px 0px 0px;
    display: block;
    font-weight: bold;
}

.navtop img {
    min-height: 16px;
    border-collapse: collapse;
    display: block;
    background-color: #fff;
    color: #fff;
}

.navtop li a:hover {
    background-color: #B8B8B8;
}

.navtop>li {
    float: left;
    min-height: 16px;
}

.navtop li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.navtop li:hover>ul {
    display: block;
}

.plogo {
    width: 100%;
    height: 17px;
}

#tablacontenido {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #fff;
}

.imginicio {
    width: 770px;
    height: auto;
    border: 0px;
}

#menulateral {
    align-content: center;
    vertical-align: top;
    background-color: #fff;
    width: 116px;
}

.menulaterallogo {
    width: 146px;
    height: 52px;
    border: 0px;
    margin-left: 0px;
}

.navlateral li a:hover {
    color: #831A38;
}

.navlateral li {
    border-left: solid #831A38;
    border-bottom: solid #fff;
    max-width: 146px;
}

.navlateral li:hover {
    border-bottom: solid #831A38;
    border-left: solid #831A38;
}

.navlateral li a {
    min-height: 14px;
    font-size: 14px;
    background-color: #fff;
    color: green;
    text-decoration: none;
    padding: 2.5px 0px 2.5px 0px;
    display: block;
    font-weight: bold;
}

.imglateral {
    width: 116px;
    height: 33px;
    border: 0px;
}

.tdnoticia {
    vertical-align: top;
    width: 100%;
}

.tdnoticiai {
    vertical-align: top;
    width: 100%;
    height: 100%;
    background-color: #831A38;
}

#tablanoticia {
    vertical-align: top;
    width: 100%;
    padding: 20px;
}

.noticia {
    text-align: left;
    font-family: "Trebuchet MS";
    font-size: 18px;
    text-transform: uppercase;
    color: #336666;
    margin: 8px;
}

.titulo_noticias3 {
    text-align: left;
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF6600;
}

.texto {
    text-align: justify;
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-weight: normal;
    color: #333333;
}

#imgcontacto {
    width: 50px;
    height: 42px;
}

#textofin {
    font-family: "Trebuchet MS";
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.imgnoticia {
    align-content: center;
    width: 95%;
    height: auto;
    border: 0px;
}

#contenedornoticia {
    background-color: #831A38;
    text-align: center;
}

.noti3 {
    width: 30%;
    height: auto;
    border: solid 7px #831A38;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.imgindex {
    width: 100%;
    height: 120px;
}

.imgver {
    width: 50px;
    height: 15px;
}


/* css pagina anterior */

.items {
    font-family: "Trebuchet MS";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #831A38;
    background-position: left;
    text-align: left;
}

.titulo_noticias3 {
    text-align: left;
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF6600;
}

.bajada {
    font-family: "Trebuchet MS";
    font-size: 11px;
    font-weight: normal;
    color: #666666;
    text-align: center;
}

.titulo_noticia {
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 12px;
    text-align: left;
}

.txt_noticias {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
}

.txt_noticiaschico {
    font-family: "Trebuchet MS";
    font-size: 10px;
    color: #6C938D;
    text-align: left;
    font-weight: normal;
    line-height: 11px;
}

.Estilo1 {
    font-family: "Trebuchet MS";
    font-size: 18px;
    text-transform: uppercase;
    color: #336666;
    text-align: left;
}

.Estilo9 {
    color: #FFFFFF;
    font-weight: bold;
}


/*==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}